<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.client">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Client"
        tools:targetApi="n">
        <activity android:name=".screens.order.history.activity.OrderHistoryActivity" />
        <activity android:name=".screens.order.detail.OrderDetailActivity" />
        <activity android:name=".screens.order.activity.ReviewOrderActivity" />
        <activity android:name=".screens.cart.activity.CartActivity" />
        <activity android:name=".screens.branch.BranchActivity" />
        <activity android:name=".screens.product.detail.ProductDetailActivity" />
        <activity android:name=".screens.product.activity.ProductActivity" />
        <activity
            android:name=".screens.message.activity.MessageActivity"
            android:exported="true" />
        <activity
            android:name=".screens.noti.activity.NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".screens.reset.activity.PasswordResetActivity"
            android:exported="true" />
        <activity
            android:name=".screens.wallet.activity.TransactionDetailActivity"
            android:exported="true" />
        <activity
            android:name=".screens.wallet.activity.RechargeActivity"
            android:exported="true" />
        <activity
            android:name=".screens.search.activity.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".screens.profile.manager_info.update.UpdatePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".screens.profile.manager_info.update.UpdateInfoActivity"
            android:exported="true" />
        <activity
            android:name=".screens.profile.manager_info.ManagerInfoActivity"
            android:exported="true" />
        <activity
            android:name=".screens.register.activity.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".screens.login.activity.LoginPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".screens.login.activity.LoginEmailActivity"
            android:exported="true" />
        <activity
            android:name=".screens.splash.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.main.activity.MainActivity"
            android:exported="true" />

        <service
            android:name=".app.MyFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>